# 190031920
# A Nikhil Reddy
# DS Skill 7

In [1]:
import pandas as pd

In [2]:
indiadata = pd.read_excel('indiadata.xlsx')

indiadata

,Name,SSN NO,Country,Bodytemp_india,Height_ind(Feet)
0,A,15ind01,IND,98.4,5.8
1,B,15ind02,IND,98.4,5.7
2,C,15ind03,IND,97.8,5.5
3,D,15ind04,IND,98.6,5.4
4,E,15ind05,IND,97.8,5.6
5,F,15ind06,IND,98.6,6.2
6,G,15ind07,IND,98.6,6.1
7,H,15ind08,IND,98.8,5.1
8,I,15ind09,IND,99.6,5.6
9,J,15ind10,IND,98.8,5.4

In [3]:
usadata = pd.read_excel('usadata.xlsx')

usadata

,Sl. No,Name,SSN NO,Country,Bodytemp_usa,Height_usa(feet)
0,1,x,12us01,USA,97.2,6.40
1,2,y,12us02,USA,97.4,6.50
2,3,z,12us03,USA,98.5,6.20
3,4,p,12us04,USA,98.6,5.90
4,5,q,12us05,USA,97.8,5.80
5,6,r,12us06,USA,97.6,5.11
6,7,s,12us07,USA,98.6,6.30
7,8,t,12us08,USA,98.9,6.50
8,9,u,12us09,USA,99.2,6.70
9,10,v,12us10,USA,99.2,6.60

In [4]:
print("Varience of Bodytemp india is :",indiadata.var()['Bodytemp_india'])

Varience of Bodytemp india is : 0.26711111111110974

In [5]:
print("Varience of Bodytemp usa is :",usadata.var()['Bodytemp_usa'])

Varience of Bodytemp usa is : 0.5511111111111116

In [6]:
Bodytemp_indiaplususa = indiadata['Bodytemp_india'] + usadata['Bodytemp_usa']

print("Varience of Bodytemp india and usa combined is :",Bodytemp_indiaplususa.var())

Varience of Bodytemp india and usa combined is : 1.2271111111111048

In [7]:
print("Varience of height of india is :",indiadata.var()['Height_ind(Feet)'])

Varience of height of india is : 0.10933333333333332

In [8]:
print("Varience of height of usa is :",usadata.var()['Height_usa(feet)'])

Varience of height of usa is : 0.2308988888888888

In [9]:
height_indiaplususa = indiadata['Height_ind(Feet)'] + usadata['Height_usa(feet)']

print("Varience of height of india and usa combined is :",height_indiaplususa.var())

Varience of height of india and usa combined is : 0.18369888888888872

# Post Lab

In [10]:
iris = pd.read_csv('Iris.csv')

iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [11]:
print("Varience of sepal length is :",iris.var()['SepalLengthCm'])

Varience of sepal length is : 0.6856935123042507

In [12]:
print("Varience of sepal width is :",iris.var()['SepalWidthCm'])

Varience of sepal width is : 0.1880040268456376

In [13]:
iris['Sepallengthandwidth'] = iris['SepalLengthCm'] + iris['SepalWidthCm']

iris['Sepallengthandwidth']

0      8.6
1      7.9
2      7.9
3      7.7
4      8.6
      ...
145    9.7
146    8.8
147    9.5
148    9.6
149    8.9
Name: Sepallengthandwidth, Length: 150, dtype: float64

In [14]:
print("Varience of the sum of sepal length and width is :",iris.var()['Sepallengthandwidth'])

Varience of the sum of sepal length and width is : 0.7951606263982103