# 190031920
# A Nikhil Reddy
# DS Skill 2

In [ ]:
import numpy as np
import pandas as pd

In [2]:
marketsalesdata = pd.read_csv('./supermarket_sales_-_Sheet1.csv')

In [3]:
marketsalesdata

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [5]:
marketsalesdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [6]:
marketsalesdata.describe()

        Unit price     Quantity  ...  gross income      Rating
count  1000.000000  1000.000000  ...   1000.000000  1000.00000
mean     55.672130     5.510000  ...     15.379369     6.97270
std      26.494628     2.923431  ...     11.708825     1.71858
min      10.080000     1.000000  ...      0.508500     4.00000
25%      32.875000     3.000000  ...      5.924875     5.50000
50%      55.230000     5.000000  ...     12.088000     7.00000
75%      77.935000     8.000000  ...     22.445250     8.50000
max      99.960000    10.000000  ...     49.650000    10.00000

[8 rows x 8 columns]

In [11]:
from scipy import stats
mode = stats.mode(marketsalesdata['Product line' ])
mode

ModeResult(mode=array(['Fashion accessories'], dtype=object), count=array([178]))

In [12]:
g1 = marketsalesdata.groupby('Product line').agg([np.mean])
g1

                       Unit price  Quantity  ... gross income    Rating
                             mean      mean  ...         mean      mean
Product line                                 ...
Electronic accessories  53.551588  5.711765  ...    15.220597  6.924706
Fashion accessories     57.153652  5.067416  ...    14.528062  7.029213
Food and beverages      56.008851  5.471264  ...    15.365310  7.113218
Health and beauty       54.854474  5.618421  ...    15.411572  7.003289
Home and lifestyle      55.316937  5.693750  ...    16.030331  6.837500
Sports and travel       56.993253  5.542169  ...    15.812630  6.916265

[6 rows x 8 columns]

In [14]:
sd = marketsalesdata['Unit price'].std()
sd

26.494628347919768

In [15]:
marketsalesdata['Gender'].value_counts()
marketsalesdata['Customer type'].value_counts()
marketsalesdata[marketsalesdata['Gender']=='Male'].value_counts()
marketsalesdata[marketsalesdata['Gender']=='Female'].value_counts()

Invoice ID   Branch  City       Customer type  Gender  Product line         Unit price  Quantity  Tax 5%   Total     Date       Time   Payment      cogs    gross margin percentage  gross income  Rating
895-03-6665  B       Mandalay   Normal         Female  Fashion accessories  36.51       9         16.4295  345.0195  2/16/2019  10:52  Cash         328.59  4.761905                 16.4295       4.2       1
359-90-3665  B       Mandalay   Member         Female  Fashion accessories  18.08       4         3.6160   75.9360   1/14/2019  18:03  Credit card  72.32   4.761905                 3.6160        9.5       1
339-12-4827  B       Mandalay   Member         Female  Fashion accessories  73.96       1         3.6980   77.6580   1/5/2019   11:32  Credit card  73.96   4.761905                 3.6980        5.0       1
339-18-7061  C       Naypyitaw  Member         Female  Fashion accessories  92.98       2         9.2980   195.2580  2/13/2019  15:06  Credit card  185.96  4.761905                 9.2980        8.0       1
340-21-9136  A       Yangon     Member         Female  Sports and travel    40.05       4         8.0100   168.2100  1/25/2019  11:40  Cash         160.20  4.761905                 8.0100        9.7       1
                                                                                                                                                                                                            ..
642-30-6693  B       Mandalay   Normal         Female  Sports and travel    54.51       6         16.3530  343.4130  3/17/2019  13:54  Ewallet      327.06  4.761905                 16.3530       7.8       1
642-32-2990  A       Yangon     Normal         Female  Food and beverages   10.96       10        5.4800   115.0800  2/2/2019   20:48  Ewallet      109.60  4.761905                 5.4800        6.0       1
645-78-8093  A       Yangon     Normal         Female  Sports and travel    93.14       2         9.3140   195.5940  1/20/2019  18:09  Ewallet      186.28  4.761905                 9.3140        4.1       1
647-50-1224  A       Yangon     Normal         Female  Fashion accessories  29.42       10        14.7100  308.9100  1/12/2019  16:23  Ewallet      294.20  4.761905                 14.7100       8.9       1
101-81-4070  C       Naypyitaw  Member         Female  Health and beauty    62.82       2         6.2820   131.9220  1/17/2019  12:36  Ewallet      125.64  4.761905                 6.2820        4.9       1
Length: 501, dtype: int64

In [16]:
marketsalesdata['Payment'].value_counts()

Ewallet        345
Cash           344
Credit card    311
Name: Payment, dtype: int64

In [18]:
yangon = marketsalesdata.loc[marketsalesdata['City']=='Yangon']
yangon

      Invoice ID Branch    City  ... gross margin percentage gross income Rating
0    750-67-8428      A  Yangon  ...                4.761905      26.1415    9.1
2    631-41-3108      A  Yangon  ...                4.761905      16.2155    7.4
3    123-19-1176      A  Yangon  ...                4.761905      23.2880    8.4
4    373-73-7910      A  Yangon  ...                4.761905      30.2085    5.3
6    355-53-5943      A  Yangon  ...                4.761905      20.6520    5.8
..           ...    ...     ...  ...                     ...          ...    ...
990  886-18-2897      A  Yangon  ...                4.761905      14.1400    4.5
992  745-74-0715      A  Yangon  ...                4.761905       5.8030    8.8
997  727-02-1313      A  Yangon  ...                4.761905       1.5920    7.7
998  347-56-2442      A  Yangon  ...                4.761905       3.2910    4.1
999  849-09-3807      A  Yangon  ...                4.761905      30.9190    6.6

[340 rows x 17 columns]

In [19]:
marketsalesdata['Gender'].unique()
female_fashion= pd.crosstab(marketsalesdata['Gender'],marketsalesdata['Product line']=='Fashion accessories')
female_fashion

Product line  False  True
Gender
Female          405     96
Male            417     82

In [20]:
marketsalesdata['Gender'].unique()
male_health= pd.crosstab(marketsalesdata['Gender'],marketsalesdata['Product line']=='Health and Beauty')
male_health

Product line  False
Gender
Female          501
Male            499